In [15]:
import pandas as pd 
import requests
import json

In [16]:
url='https://charlestng-real-time-fraud-detection.hf.space/current-transactions'
response= requests.get(url)
response

In [17]:
data=response.json()
data

'{"columns":["cc_num","merchant","category","amt","first","last","gender","street","city","state","zip","lat","long","city_pop","job","dob","trans_num","merch_lat","merch_long","is_fraud","current_time"],"index":[333732],"data":[[3563837241599446,"fraud_Kiehn Inc","grocery_pos",61.03,"Timothy","Simmons","M","1049 John Ports Suite 057","Newberg","OR",97132,45.3099,-122.9685,28278,"Research scientist (physical sciences)","1977-07-17","9385eb3b6f8441f8ac74b9ff6115784b",44.89607,-123.959538,0,1742894960943]]}'

In [18]:
type(data)

str

In [19]:
data = json.loads(response.text)
type(data)

str

In [22]:
if response.status_code == 200:
    try:
        # Supprimer les guillemets autour d'un JSON sous forme de chaîne
        text_response = response.text.strip().strip('"').replace('\\"', '"')

        # Conversion en JSON
        data = json.loads(text_response)

        # Vérification des clés et création du DataFrame
        if 'data' in data and 'columns' in data:
            df = pd.DataFrame(data['data'], columns=data['columns'])
            print("DataFrame créé avec succès :")
            df.head()
        else:
            print("Les clés 'data' et 'columns' n'existent pas dans la réponse.")
    except json.JSONDecodeError as e:
        print(f"Erreur lors de la conversion en JSON : {e}")
else:
    print(f"Échec de la requête API, statut: {response.status_code}")

DataFrame créé avec succès :

In [21]:
df

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud,current_time
0,3563837241599446,fraud_Kiehn Inc,grocery_pos,61.03,Timothy,Simmons,M,1049 John Ports Suite 057,Newberg,OR,...,45.3099,-122.9685,28278,Research scientist (physical sciences),1977-07-17,9385eb3b6f8441f8ac74b9ff6115784b,44.89607,-123.959538,0,1742894960943

In [23]:
df.columns

Index(['cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender',
       'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job',
       'dob', 'trans_num', 'merch_lat', 'merch_long', 'is_fraud',
       'current_time'],
      dtype='object')